[Parameters]
# input
snapshot_file_format = binary
nr_elements = 27
nr_integration_points = 8
nr_strain_components = 6
trajectory_filename = trajectory
energy_filename = energy
strain_filename = strain
integration_weights_filename = integration_weight
nr_elastic_snapshots_filename = elastic_timesteps

#output
energy_bases_filename = bases_energy.npy
strain_bases_filename = bases_strain.npy
bases_file_format = binary
nr_elastic_modes_energy = 9
nr_elastic_modes_strain = 6
max_nr_reduced_modes = 286

# roq
roq_weights_filename = roq_weights.dat
nr_roq_points = 120
