[Parameters]
snapshot_file_format = binary
#bases_file_format = ascii
nr_elements = 1314
nr_integration_points = 4
nr_strain_components = 3
nr_max_energy_reduced_modes = 286
nr_energy_reduced_modes = 120
trajectory_filename = trajectory
energy_filename = energy
strain_filename = strain
integration_weights_filename = gauss_weights
nr_elastic_snapshots_filename = elastic_timesteps
energy_bases_filename = energy_bases.dat
strain_bases_filename = strain_bases.dat
roq_weights_filename = roq_weights.dat
tolerance_svd_elastic_strain = 1e-6     
tolerance_svd_inelastic_strain = 1e-8
tolerance_svd_elastic_energy = 1e-9
tolerance_svd_inelastic_energy = 1e-8
