[Parameters]
# input
snapshot_file_format = binary
nr_elements = 1314
nr_integration_points = 4
nr_strain_components = 3
trajectory_filename = trajectory
energy_filename = energy
strain_filename = strain
integration_weights_filename = trajectory_0/gauss_weights
nr_elastic_snapshots_filename = elastic_timesteps

#output
energy_bases_filename = bases_energy.dat
strain_bases_filename = bases_strain.dat
bases_file_format = binary
max_nr_reduced_modes = 286

# roq
roq_weights_filename = roq_weights.dat
nr_roq_points = 120
