[Parameters]

# input
snapshot_file_format = binary
nr_elements = 16
nr_integration_points = 8
nr_strain_components = 6
trajectory_filename = trajectory
energy_filename = energy
strain_filename = strain
integration_weights_filename = integration_weight
nr_elastic_snapshots_filename = elastic_timesteps

#output
energy_bases_filename = bases_energy.npy
strain_bases_filename = bases_strain.npy
bases_file_format = binary
nr_elastic_modes_energy = 6
nr_elastic_modes_strain = 3
nr_inelastic_modes_energy = 220
nr_inelastic_modes_strain = 150

# roq
rve_mdpa_filename = t_model.mdpa
nr_active_modes = 15
nr_roq_points = 50
